<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <link rel="stylesheet" href="../public/css/login.css" />
      <script src="../public/js/login.js" type="module"></script>
      <title>Login</title>
    </head>
  </head>
  <body>
    <div class="container">
      <div class="wrapper bounceInLeft">
        <div class="contact">
          <h3>Login</h3>
          <form>
            <p>
              <label for="email">Email</label>
              <input type="email" name="email" placeholder="Email" required />
            </p>
            <p>
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                placeholder="Password"
                required
              />
            </p>

            <p class="full">
              <button type="submit">Submit</button>
            </p>
            <div class="underSubmit">
              <span> <a href="/register">Registration</a></span>
            </div>
            <p class="notify"></p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
