* {
  box-sizing: border-box;
}

body {
  background: #474a4d;
  color: #c8d0d8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 6em 1em 1em 1em;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > * {
  padding: 1em;
}

.contact {
  width: 100%;
  background: #626154;
}

.contact form {
  display: grid;
  grid-template-columns: 1fr;
}

.contact p {
  margin: 0.25rem 0;
}

.contact form button,
.contact form input {
  width: 100%;
  padding: 1em;
  border: 1px solid #c9e6ff;
}

input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  outline-width: 0;
}

.contact form button {
  background: #c9e6ff;
  border: 0;
  margin-top: 0.4rem;
  text-transform: uppercase;
  cursor: pointer;
}

.contact form button:hover,
.contact form button:focus {
  background: #92bde7;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}

.underSubmit {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.underSubmit a {
  text-decoration: none;
  color: #7ffffd;
  padding: 0 0.5rem;
}

.underSubmit a:hover {
  color: #37b7b5;
}

.notify {
  display: none;
  font-weight: bold;
  color: #f62222;
}

.bounceInLeft {
  animation-name: bounce;
  animation-timing-function: ease-out;
  animation-duration: 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateX(-900px);
  }
  60% {
    transform: translateX(50px);
  }
  85% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (min-width: 700px) {
  .wrapper > * {
    padding: 2em;
  }

  h3 {
    margin-top: 0;
  }
}
